<!-- about -->
<section class="section">
  <div class="container">     
    <div class="row">
      <div class="col-lg-10 mx-auto ">
        <h2 class="section-title" id="about">About</h2>
      </div>
      <div class="col-lg-10 mx-auto">
        <p class="paragraph-lg">
        Bellman is a package for model-based reinforcement learning (MBRL) in Python, using <a href="http://www.tensorflow.org">TensorFlow</a> and building on top of model-free reinforcement learning package <a href="https://www.tensorflow.org/agents/overview?hl=en&authuser=0">TensorFlow Agents</a>.
        </p>
        <p class="paragraph-lg">
        Bellman provides a framework for flexible composition of model-based reinforcement learning algorithms. It offers two major classes of algorithms: decision time planning and background planning algorithms. With each class any kind of supervised learning method can be easily used to learn certain component of the environment. Bellman was designed with modularity in mind - important components can be flexibly combined, such as type of decision time planning method (e.g. a cross entropy method or a random shooting method) and type of model for state transition (e.g. a probabilistic neural network or an ensemble of neural networks). Bellman also provides implementation of several popular state-of-the-art MBRL algorithms, such as PETS, MBPO and METRPO. The <a href="http://bellman.dev/docs/latest/">online documentation</a> contains more details. 
        </p>
        <p class="paragraph-lg">
        Bellman requires Python 3.7 onwards and uses <a href="http://www.tensorflow.org">TensorFlow 2.4+</a> for running computations, which allows fast execution on GPU's.
        </p><br><br>
      </div>

      <div class="col-lg-10 mx-auto">
        <h3 class="section-title">Maintainers</h3>
      </div>
      <div class="col-lg-10 mx-auto">
        <p class="paragraph-lg">
        Bellman was originally created by (in alphabetical order)
        <a href="https://vincentadam87.github.io/">Vincent Adam</a>,
        <a href="https://sites.google.com/view/graumoya">Jordi Grau-Moya</a>,
        <a href="https://github.com/fleibfried">Felix Leibfried</a>,
        <a href="https://github.com/johnamcleod">John McLeod</a>,
        <a href="https://hstojic.re">Hrvoje Stojic</a>, and
        <a href="https://github.com/pvrancx">Peter Vrancx</a>, at 
        <a href="https://www.secondmind.ai/labs/">Secondmind Labs</a>. 
        </p>

        <p class="paragraph-lg">
        It is now actively maintained by (in alphabetical order)
        <a href="https://github.com/fleibfried">Felix Leibfried</a>,
        <a href="https://github.com/johnamcleod">John McLeod</a>, 
        <a href="https://hstojic.re">Hrvoje Stojic</a> and
        <a href="https://github.com/pvrancx">Peter Vrancx</a>.
        </p><br><br>
      </div>

      <div class="col-lg-10 mx-auto">
        <h3 class="section-title">Join the community</h3>
      </div>
      <div class="col-lg-10 mx-auto">
        <p class="paragraph-lg">
        Bellman is an open source project, distributed under Apache License 2.0. If you have relevant skills and are interested in contributing then please do contact us. We have a public <a href="https://bellmangroup.slack.com/">Bellman slack workspace</a>. Please use this <a href="https://join.slack.com/t/bellmangroup/shared_invite/zt-ohrzrok0-OlKRcG6hnMtzTXASCvchCg">invite link</a> if you'd like to join, whether to ask short informal questions or to be involved in the discussion and future development of Bellman.
        </p>
        <p class="paragraph-lg">
        We are very grateful to our Secondmind Labs colleagues, maintainers of <a href="https://github.com/GPflow/GPflow">GPflow</a> and <a href="https://github.com/secondmind-labs/trieste/">Trieste</a> in particular, for their help with creating contributing guidelines, instructions for users and open-sourcing in general.
        </p>
      </div>
    </div>      
  </div>
</section>
<!-- /about -->