<!-- about -->
<section class="section position-relative">
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto">
        <h2 class="section-title">Citing Bellman</h2>
      </div>
      <div class="col-lg-10 mx-auto">
        <p class="paragraph-lg">
            To cite Bellman, please reference our <a href="https://arxiv.org/abs/XXXX">arXiv paper</a> where we review the framework and describe the design. Bibtex reference is given below:
        </p>
        <pre>
          <code class="code" style="text-align: left">
              @article{bellman2021,
                author = {McLeod, John and Stojic, Hrvoje and Adam, Vincent and Kim, Dongho and Grau-Moya, Jordi and Vrancx, Peter and Leibfried, Felix},
                title = {Bellman: A Framework for Model-based Reinforcement Learning},
                year = {2021},
                journal = {arXiv:XXXX},
                url = {https://arxiv.org/abs/XXXX}
              }
          </code>
        </pre>
      </div>
    </div>
  </div>
</section>
<!-- /about -->