<!-- download -->
<section class="section bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <h3 class="text-white font-tertiary">Download Bellman</h3>
        <a href="https://github.com/Bellman-devs/bellman" class="btn btn-primary" style="margin-top:30px">Get it here</a>
      </div>
      <div class="col-md-6 text-center">
        <h5 class="text-light">Email:</h5>
        <p class="text-white paragraph-lg font-secondary">{{ site.data.settings.email }}</p>
        <h5 class="text-light">Slack and Twitter:</h5>
        <p class="text-white paragraph-lg font-secondary">
          <a class="text-white" href="https://join.slack.com/t/bellmangroup/shared_invite/zt-ohrzrok0-OlKRcG6hnMtzTXASCvchCg"><i class="ti-comments">  </i></a>
          <a class="text-white" href="https://twitter.com/BellmanDevs"><i class="ti-twitter"></i></a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- /download -->
